In [67]:
from pycaret.datasets import get_data
import pycaret.regression as reg
import pickle

boston = get_data('boston')
session = reg.setup(data=boston, target='medv', silent=True, verbose=False)

lr = reg.create_model('lr', verbose=False)
lr_tuned = reg.tune_model(lr, verbose=False)
lr_tuned = reg.finalize_model(lr_tuned)

## Method-1
reg.save_model(lr_tuned, 'lr_saved_1')

## Method-2
lr_pipe = reg.get_config('prep_pipe')
lr_pipe.steps.append(['trained_model', lr_tuned])
pickle.dump(lr_pipe, open('lr_saved_2.pkl', 'wb'))

## Method-3
reg.save_model(lr_pipe, 'lr_saved_3')

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

Transformation Pipeline and Model Successfully Saved
Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=False, features_todrop=[],
                                       id_columns=[], ml_usecase='regression',
                                       numerical_features=[], target='medv',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_strategy='...
                 ('cluster_all', 'passthrough'),
                 ('dummy', Dummify(target='medv')),
                 ('fix_perfect', Remove_100(target='medv')),
                 ('clean_names', Clean_Colum_Names()),
                 ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                 ('dfs', 'passthrough'), ('pca', 'passthrough'),
                 ['trained_model',
                  LinearRegression(copy_X=True, fit_intercept=True, n_jobs=-1,
                                   normalize=False)]],
          verbose=False),
 'lr_saved_3.pkl')

In [68]:
from sklearn.metrics import r2_score

lr_loaded_1 = reg.load_model('lr_saved_1') 
lr_loaded_2 = pickle.load(open('lr_saved_2.pkl', 'rb'))
lr_loaded_3 = reg.load_model('lr_saved_3')

reg.predict_model(lr_loaded_1, data=boston)
reg.predict_model(lr_loaded_2, data=boston)
reg.predict_model(lr_loaded_3, data=boston)

Transformation Pipeline and Model Successfully Loaded
Transformation Pipeline and Model Successfully Loaded

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv,Label
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0,28.245571
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6,23.987808
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7,29.446167
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4,30.213787
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2,29.516287
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4,21.567822
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6,20.494869
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9,25.644505
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0,24.150166
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9,20.463587

In [69]:
y_ture = boston['medv']
y_pred1 = lr_loaded_1.predict(boston)
y_pred2 = lr_loaded_2.predict(boston)
y_pred3 = lr_loaded_3.predict(boston)

print(r2_score(y_ture, y_pred1))
print(r2_score(y_ture, y_pred2))
print(r2_score(y_ture, y_pred3))

0.7498672483406443
0.7498672483406443
0.7498672483406443